.bienvenidos{
    font-size: 4em;
    height: 1em;
    width: 5.3em;
}

.autor{
    font-size: 1.5em;
}

.content{
    position:relative;
    display:grid;
    align-items:normal;
    justify-content:left;
    width: 100%;
    gap: 20%;

}

