*{
    background-color:aqua ;/* color de fondo */
    color:black;/* color de letras */
}
.bienvenidos{
    font-size: 5em;
    height: 1em;
    width: 5.3em;
}

.autor{
    font-size: 2em;
}

.content{
    position:relative;
    display:grid;
    align-items:normal;
    justify-content:left;
    width: 100%;
    gap: 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}